.c-btn {
    display: block;
    color: #fff;
    text-align: center;

    // display: inline-block;
    padding: 24px 8px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    border-radius: rem(40);
    background-color: #666666;
    font-size: 1rem;

    @include sp {
        width: 70%;
        padding: 17px 3%;
        font-size: 1.36rem;
    }
}
