canvas {
    display: block;
    width: 100%;

    &.flipped {
        transform: rotate(180deg);
    }
}

.canvas-wrapper {
    @include trans_xy;

    z-index: -1;
    width: 100%;

    &__inner {
        position: relative;
    }

    &__bg {
        height: rem(583);
        width: 100%;
        background-color: #fff9e8;
    }

    &__wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &--btm {
            top: auto;
            bottom: 0;
        }
    }
}
