.c-list-parent {
    &__strip {
        position: relative;

        &::after, &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: rem(8);
        }

        &::after {
            background: url(../images/top-page/bg_contact_line.png) no-repeat 50% 0;
            background-size: 100% auto;
            top: -3px;
        }
    }

    &__solid {
        border-top: 1px solid #e4e4e4;
    }

    &:last-of-type {
        .c-list-parent__strip {
            &::before {
                background: url(../images/top-page/bg_contact_line.png) no-repeat 50% 0;
                background-size: 100% auto;
                bottom: -3px;
            }
        }

        .c-list-parent__solid {
            border-bottom: 1px solid #e4e4e4;
        }
    }
}
