.c-arrow {
    @include trans_y;

    height: 100%;
    background-color: #fff;
    border-right: 1px solid $key_pink;
    border-left: 1px solid $key_pink;
    width: rem(48);
    z-index: 9000;

    &__in {
        position: relative;
        display: block;
        height: 100%;

        &::after, &:before {
            content: "";

            @include trans_y;

            width: rem(19);
            height: rem(19);
            border-bottom: 1px solid $key_pink;
            border-right: 1px solid $key_pink;
        }
    }

    &--prev {
        left: 0;
        border-left: none;

        .c-arrow__in {
            &::after, &:before {
                transform: translateY(-50%) rotate(135deg);
            }

            &::after {
                left: rem(13);
            }

            &::before {
                left: rem(22);
            }
        }
    }

    &--next {
        right: 0;
        border-right: none;

        .c-arrow__in {
            &::after, &:before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &::after {
                right: rem(13);
            }

            &::before {
                right: rem(22);
            }
        }
    }
}

.c-sp-single-arrow {
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.65);
    width: 3.8rem;
    height: 9.5rem;
    top: 22%;
    z-index: 9000;

    &__in {
        position: relative;
        display: block;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.0rem;
            height: 2.0rem;
            border-bottom: rem(3) solid #bfbfbf;
            border-right: rem(3) solid #bfbfbf;
        }
    }

    &--prev {
        left: 0;
        border-radius: 0 rem(20) rem(20) 0;

        .c-sp-single-arrow__in {
            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }

    &--next {
        right: 0;
        border-radius: rem(20) 0 0 rem(20);

        .c-sp-single-arrow__in {
            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
