$key_pink: #d42258;

$key_blue: #005bac;

$key_light_blue: #12a9e9;

$key_light_green: #00ae97;

$key_green: #59bf48;

$line_color: #06c755;

$bg_light_blue: #e1f6ff;

$bg_light_green: #d7f9f4;

$bg_green: #e0f8dc;

$radius_val: 40px;

$gosic: "ヒラギノ角ゴ StdN", "Hiragino Kaku Gothic StdN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;

$maru_gosic: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", "Yu Gothic UI", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;

$min: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "klee", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;

$ryu_min: a-otf-ryumin-pr6n, serif;

$catch_gold: #7f7846;

$catch_gold02: #afa169;

$din: "DINPro";
